<div class="container">
  <%= form_tag url, method: method, class: "form--square" do |f| %>
    <% if show_profile %>
      <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="elements--title">
              <h4>Personal Information</h4>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Email</label>
            <%= email_field_tag "user[email]", current_user.try(:email) || @visitor.try(:email), placeholder: "yours@needhelp.com", required: true %>
          </div>
          <% unless current_user.nil? %>
            <div class="col-sm-6">
              <label>Password</label>
              <%= password_field_tag "user[password]", nil, placeholder: "min 8 characters", minlength: 8, maxlength: 20, required: true %>
            </div>
          <% end %>
          <div class="col-sm-6">
            <label>First Name:</label>
            <%= text_field_tag "user[first_name]", current_user.try(:first_name), required: true, placeholder: "First Name" %>
          </div>
          <div class="col-sm-6">
            <label>Last Name:</label>
            <%= text_field_tag "user[last_name]", current_user.try(:last_name), required: true, placeholder: "Last Name" %>
          </div>
          <div class="col-sm-6">
            <label>Phone Number:</label>
            <%= phone_field_tag "user[phone]", current_user.try(:phone), placeholder: "Example: (434) 345-3342" %>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-sm-offset-1">
        <hr>
      </div>
    </div>
    <% end %>

    <% if current_user.nil? || current_user.volunteer_profile.present? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="elements--title">
                <h4>Skills</h4>
              </div>
              <div class="col-sm-12">
                <label>Can you share a little about your self ? Experience volunteering or working with social causes ?</label>
                <%= text_area_tag "volunteer[bio]", current_user.volunteer_profile.bio, placeholder: "I love doing...", required: true, size: "25x5" %>
              </div>
              <div class="col-sm-12">
                <label>What kind of project would you like to help in ?</label>
                <%= text_area_tag "volunteer[interest]", current_user.volunteer_profile.interest, placeholder: "I would love to help with...", required: true, size: "25x3" %>
              </div>
              <div class="col-xs-12">
                <label>Can you tell us a bit about the skills you'd like to volunteer ?</label>

                <%= text_area_tag "request[skills]", nil, size: "25x2", placeholder: "Select up to 4 Skills", required: true, id: "select-volunteer" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <hr>
        </div>
      </div>
    <% end %>

    <div class="row mt48">
      <div class="col-sm-4 col-sm-offset-4">
        <%= button_tag button_text, type: "submit", class: "btn btn--primary", data: { disable_with: "Processing..." }%>
      </div>
    </div>
    <% end %>
</div>
