<section class="height-50  page-title page-title--animate">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Browse Volunteers</h1>
        <p>Check out our commnuties of awesome volunteers with variety of<br /> technical skills who want to <strong>make history with you</strong> today!</p>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <%= render 'shared/side_filter', skills: @skills, urgencies: nil, title: "Filter by Skills" %>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <% @profiles.each do |profile| %>
          <div class="blog-item blog-item-1 <%= profile.tags %>">
            <%= link_to volunteer_profile_path(profile), class: "post-link" do %>
            <h4><%= profile.user.name %></h4>
            <% end %>
            <div class="blog-item__author">
              <span><em>interest</em></span>
              <span class="h6"><%= truncate(profile.interest, length: 100, separator: ' ') %></span>
            </div>
            <div class="blog-item__author">
              <ul class="tag-cloud">
                <% profile.skills.each do |skill| %>
                <li>
                  <a href="#" class="btn btn--sm btn--square">
                    <span class="btn__text"><%= skill.name.titleize %></span>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
            <p>
              <%= truncate(profile.bio, length: 500, separator: ' ') %>
            </p>
            <p class="mt15">
              <%= link_to volunteer_profile_path(profile) do %>
                View Volunteer Detail ->
              <% end %>
            </p>
            <hr>
          </div>
        <% end %>
        <!-- <div class="pagination-container">
          <hr>
          <ul class="pagination">
            <li>
              <a href="#">
                <span>&larr;</span>
              </a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">
                <span>&rarr;</span>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->

</section>

<% content_for :javascript do %>
<script>
$(document).ready(function(){
  $('.skills-list li, .urgency-list li').click(function(e){
    e.preventDefault();
    var selected_class = $(this).attr("class");
    $('.skills-list li').not(selected_class).removeClass("active");
    $(this).addClass("active");
    if (selected_class === "show-all"){
     $(".blog-item").show("slow");
    } else {
     var target_class = ".blog-item" + "." + selected_class
     $(".blog-item").not(target_class).hide("slow");
     $(target_class).show("slow");
    };
  });
});
</script>
<% end %>
