<section class="height-50 bg--dark imagebg page-title page-title--animate" data-overlay="5">
    <div class="background-image-holder">
        <%=image_tag("idea_flow.jpg")%>
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h2>Volunteer</h2>
                <p class="lead">Pillar is a team of passionate designers, developers and artists working in print and digital. We collaborate with clients to establish bold, effective identities.</p>
            </div>
        </div>
    </div>
</section>
<section class="elements-forms">
    <div class="container">
      <%= form_tag volunteer_profiles_path, method: :post, class: "form--square" do |f| %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="elements--title">
                    <h4>1. Personal Information</h4>
                </div>
              </div>
              <div class="col-sm-6">
                <label>Email</label>
                <%= email_field_tag "user[email]", @visitor.try(:email), placeholder: "yours@needhelp.com", required: true %>
              </div>
              <div class="col-sm-6">
                <label>Password</label>
                <%= password_field_tag "user[password]", nil, placeholder: "min 8 characters", minlength: 8, maxlength: 20, required: true %>
              </div>
              <div class="col-sm-6">
                <label>First Name:</label>
                <%= text_field_tag "user[first_name]", nil, required: true, placeholder: "First Name" %>
              </div>
              <div class="col-sm-6">
                <label>Last Name:</label>
                <%= text_field_tag "user[last_name]", nil, required: true, placeholder: "Last Name" %>
              </div>
              <div class="col-sm-6">
                  <label>Phone Number:</label>
                  <%= phone_field_tag "user[phone]", nil, placeholder: "Example: (434) 345-3342" %>
              </div>
            </div>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
              <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
            <div class="row">
              <div class="col-xs-12 text-center">
                  <div class="elements--title">
                      <h4>2. Skills</h4>
                  </div>
                  <div class="col-sm-12">
                      <label>Can you share a little about your self ? Experience volunteering or working with social causes ?</label>
                      <%= text_area_tag "volunteer[bio]", nil, placeholder: "I love doing...", required: true, size: "25x5" %>
                  </div>
                  <div class="col-sm-12">
                      <label>What kind of project would you like to help in ?</label>
                      <%= text_area_tag "volunteer[interest]", nil, placeholder: "I would love to help with...", required: true, size: "25x3" %>
                  </div>
                  <div class="col-xs-12">
                    <label>Can you tell us a bit about the skills you'd like to volunteer ?</label>
                    <%= text_area_tag "volunteer[skills]", nil, size: "25x3", placeholder: "Select up to 6 Skills", required: true, id: "select-to" %>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-sm-offset-1">
              <hr>
          </div>
        </div>

        <div class="row mt48">
            <div class="col-sm-4 col-sm-offset-4">
                <%= button_tag "Request Help", type: "submit", class: "btn btn--primary", data: { disable_with: "Processing..." }%>
            </div>
        </div>
      <% end %>
    </div>
</section>



<% content_for :javascript do %>
<script>
$(document).ready(function(){
  var $select;
  var options = JSON.parse('<%= @skills %>');
  $select = $('#select-to').selectize({
      maxItems: 6,
      searchField: "name",
      labelField: 'name',
      valueField: 'id',
      options: options
  });
});
</script>
<% end %>
