<section class="cover cover-12 form--dark imagebg height-100 parallax" data-overlay="4">
  <div class="background-image-holder">
    <%= image_tag("login_hero.jpg") %>
  </div>
  <div class="container pos-vertical-center text-center-xs">
    <div class="row pos-vertical-align-columns">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="form-subscribe-1 boxed boxed--lg bg--white text-center box-shadow-wide">
          <h4>Sign  Up</h4>
          <p>Join Our Awesome Community of Social Good Causes and Volunteers</p>
          <%= form_for @user, url: users_path, method: :post do |f| %>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-with-icon">
                  <label>First Name:</label>
                  <i class="icon icon-Male-2"></i>
                  <%= f.text_field :first_name, required: true, placeholder: "First Name" %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="input-with-icon">
                  <label>Last Name:</label>
                  <i class="icon icon-Male-2"></i>
                  <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="input-with-icon">
                  <label>Email:</label>
                  <i class="icon icon-Mail-2"></i>
                  <%= f.email_field :email, class: "validate-required validate-email", required: true, placeholder: "Email Address" %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="input-with-icon">
                  <label>Password:</label>
                  <i class="icon icon-Security-Check"></i>
                  <%= f.password_field :password, required: true, placeholder: "Password" %>
                </div>
              </div>
            </div>

            <div class="row mt30">
              <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <%= f.button :submit, class: "btn" do %>
                  Sign Up
                <% end %>
              </div>
            </div>

            <div class="row text-center mt15">
              <p class="type--fine-print">
                Already have an account?
                <%= link_to "Log In Here", login_path %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
