<footer class="bg--dark footer-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <h4 class="declaration--text mb0">WeThePeople</h4>
        <h5 class="lead supporting--text mt0"> commons</h5>
        <ul class="footer__navigation">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Get Help", new_request_path %></li>
          <li><%=link_to "Volunteer", new_volunteer_profile_path %></li>
          <li><%=link_to "Showcase", showcase_path %></li>
          <li>
              <a href="https://store.wethepeoplecommons.org" target="_blank">
                  The Store
              </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-8">
        <h6>Inspiration</h6>
        <p>
          "In a time of domestic crisis, men &amp women of goodwill and generosity should be able to unite regardless of party or politics."
        </p>
        <p>
          -John F. Kennedy
        </p>
        <p>
          "Either write something worth reading or do something worth writing. "
        </p>
        <p>
          -Benjamin Franklin
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1 col-sm-12">
        <h6>Connect with Us</h6>
        <%= render partial: "shared/social_media_links" %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="footer__lower">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center-xs">
          <span class="type--fine-print">&copy; Copyright
            <span class="update-year">2017</span></span>
          </div>
          <div class="col-sm-6 text-right text-center-xs">
            <a href="#top" class="inner-link top-link">
              <i class="interface-up-open-big"></i>
            </a>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </div>
  </footer>
</div>
