<a id="top"></a>
<div class="loader"></div>
<nav>
  <% flash.each do |key, value| %>
  <div class="flash alert-<%= key %> utility-bar text-center">
    <h5><%= value %></h5>
  </div>
  <% end %>
  <div class="nav-bar" data-fixed-at="200">
    <div class="nav-module logo-module left">
      <%=link_to root_path  do %>
        <span class="declaration--text">WeThePeople</span><span class="supporting--text supporting--text__nav "> commons</span>
      <% end %>
    </div>
    <div class="nav-module menu-module left">
      <ul class="menu nav--text">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Get Help</a>
          <ul>
            <li>
              <%= link_to "New Request", new_request_path %>
            </li>
            <li>
              <%= link_to "Browse Volunteers", volunteer_profiles_path %>
            </li>
          </ul>
        </li>
        <li>
          <a>Volunteer</a>
          <ul>
            <li>
              <% if current_user.volunteer_profile.present? %>
                <%= link_to "View Profile", profiles_user_path %>
              <% else %>
                <%= link_to "New Registration", new_volunteer_profile_path %>
              <% end %>
            </li>
            <li>
              <%= link_to "Browse Requests", requests_path %>
            </li>
          </ul>
        </li>
        <li><%=link_to "Showcase", showcase_path %></li>
        <li>
            <a href="https://store.wethepeoplecommons.org" target="_blank">
                The Store
            </a>
        </li>
      </ul>
    </div>
    <div class="nav-module right">
      <% if current_user.present? %>
        <%= link_to logout_path, class:"btn btn--xs" do %>
          <span class="btn__text">
            Logout
          </span>
        <% end %>
      <% else %>
        <%= link_to login_path, class:"btn btn--xs" do %>
          <span class="btn__text">
            Login
          </span>
        <% end %>
      <% end %>
      <a class="btn btn--xs btn--primary dbox-donation-button" href="https://donorbox.org/wethepeoplecommons?recurring=true">
        <span class="btn__text">
          Donate
        </span>
      </a>
    </div>
  </div>
  <div class="nav-mobile-toggle visible-sm visible-xs">
    <i class="icon-Align-Right icon icon--sm"></i>
  </div>
</nav>
