<section class="height-50 bg--dark imagebg page-title page-title--animate" data-overlay="5">
  <div class="background-image-holder">
    <%=image_tag("showcase.jpg")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
          <h2>Showcase</h2>
          <p class="lead">Checkout some of the awesome projects our community has already created.</p>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 masonry__item">
        <div class="card card--horizontal card-6">
          <a href="http://www.fedup.co/" target="_blank">
            <div class="card__image col-sm-7 col-md-8">
              <div class="background-image-holder">
                  <%= image_tag("fedup_showcase.jpg") %>
              </div>
            </div>
          </a>

          <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
            <h6>Women's Rights</h6>
            <div class="card__title">
                <h4>F.E.D. UP (Female Engineers Disparities) </h4>
            </div>
            <a href="http://www.fedup.co/" target="_blank">www.fedup.co</a>
            <p class="mt15">
                A graphical representation of disparities women face in the technology sector.
            </p>
            <hr>
            <div class="card__lower">
                <span>by</span>
                <span class="h6">Anna Wu</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 masonry__item">
        <div class="card card--horizontal card-6">
          <a href="http://publicbnb.com/" target="_blank">
            <div class="card__image col-sm-7 col-md-8">
              <div class="background-image-holder">
                <%=image_tag("publicbnb_showcase.jpg")%>
              </div>
            </div>
          </a>
          <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
            <h6>Affordable Housing</h6>
            <div class="card__title">
              <h4>PublibBnB</h4>
            </div>
            <a href="http://publicbnb.com/" target="_blank">publicbnb.com</a>
            <p class="mt15">
              An Affordable Housing marketplace.
            </p>
            <hr>
            <div class="card__lower">
              <span>by</span>
              <span class="h6">Marlon Frausto</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 masonry__item">
          <a href="#">
              <div class="card card--horizontal card-6">
                  <div class="card__image col-sm-7 col-md-8">
                      <div class="background-image-holder">
                          <%=image_tag("idea_flow.jpg")%>
                      </div>
                  </div>
                  <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
                      <h6>Civil Rights</h6>
                      <div class="card__title">
                          <h4>RightsRequests</h4>
                      </div>
                      <p>
                          A multi-lingual chat bot and online service desk created for the ACLU to resolve rights requests in real time.
                      </p>
                      <hr>
                      <div class="card__lower">
                          <span>by</span>
                          <span class="h6">Anna Wu &amp Marlon Frausto</span>
                      </div>
                  </div>
              </div>
          </a>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/donations" %>
