<% requests.each do |request| %>
  <div class="blog-item blog-item-1 <%= request.tags %>">
    <%= link_to request_path(request), class: "post-link" do %>
    <h4><%= truncate(request.purpose, length: 100, separator: ' ') %></h4>
    <% end %>
    <% if !request.is_active? && for_profile %>
      <div class="blog-item__author">
        <div class="btn btn--xs bg--googleplus">
          <span class="btn__text">Request is inactive</span>
        </div>
      </div>
    <% end %>
    <div>
      <% if for_profile %>
        <span class="h6">created on <%= request.created_at.to_date %></span>
      <% else %>
        <span><em>by</em></span>
        <span class="h6"><%= request.user.name %> on <%= request.created_at.to_date %></span>
      <% end %>
    </div>
    <% if request.organization.present? %>
      <div class="blog-item__author">
          <span><em>organization</em></span>
          <span class="h6">
            <%= request.organization.name %>,
            <%= link_to request.organization.url, request.organization.url %>
          </span>
      </div>
    <% end %>
    <div class="blog-item__author">
      <span><em>Seeking Skills:</em></span>
      <ul class="tag-cloud">
        <% request.skills.each do |skill| %>
        <li>
          <a href="#" class="btn btn--sm btn--square">
            <span class="btn__text"><%= skill.name %></span>
          </a>
        </li>
        <% end %>
        <li>
          <a href="#" class="btn btn--sm btn--square">
            <span class="btn__text"><%= request.urgency %></span>
          </a>
        </li>
      </ul>
    </div>
    <p>
      <%= truncate(request.description, length: 280, separator: ' ') %>
    </p>
    <p class="mt15">
      <%= link_to request_path(request) do %>
        View Request Detail ->
      <% end %>
    </p>
    <% if for_profile %>
      <p class="mt15">
        <%= link_to edit_request_path(request) do %>
          Edit Request Detail ->
        <% end %>
      </p>
    <% end %>
    <hr>
  </div>
<% end %>
<!-- <div class="pagination-container">
  <hr>
  <ul class="pagination">
    <li>
      <a href="#">
        <span>&larr;</span>
      </a>
    </li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">
        <span>&rarr;</span>
      </a>
    </li>
  </ul>
</div> -->
