<a id="top"></a>
        <div class="loader"></div>
        <nav>
            <div class="nav-bar nav--absolute nav--transparent" data-fixed-at="200">
                <div class="nav-module logo-module left">
                    <a href="index.html">
                        <%=image_tag 'logo-dark.png', class: "logo logo-dark"%>
                        <%=image_tag "logo-light.png", class: "logo logo-light" %>
                    </a>
                </div>
            </div>
            <!--end nav bar-->
            <div class="nav-mobile-toggle" data-modal-id data-notification-link="nav-slide">
                <i class="icon-Align-Right icon icon--sm"></i>
                <span class="h6">Menu</span>
            </div>
        </nav>
        <div class="notification pos-right pos-top nav-slide text-center col-sm-6 col-xs-12 bg--dark" data-notification-link="nav-slide" data-animation="from-right">
            <div class="nav-slide__content">
                <div class="pos-vertical-center">
                    <a class="logo" href="index.html">
                        <%=image_tag "logo-light.png", class: "" %>
                    </a>
                    <ul class="menu">
                        <li>
                            <a class="inner-link" href="#top" >
                                <span class="h4">About</span>
                            </a>
                        </li>
                        <li>
                            <a class="inner-link" href="#hosting">
                                <span class="h4">Hosting</span>
                            </a>
                        </li>
                        <li>
                            <a class="inner-link" href="#beneficios">
                                <span class="h4">Beneficios y Herramientas</span>
                            </a>
                        </li>
                        <li>
                            <a class="inner-link" href="#registro">
                                <span class="h4">Registro de Dominios</span>
                            </a>
                        </li>
                        <li>
<% if admin_signed_in? %>
   <h4><%= link_to('logout', destroy_admin_session_path, method: :delete) %></h4>
<% else %>
  <%= link_to('login', new_admin_session_path) %>
<% end %>
<!-- 
                            <a href="#">
                                <span class="h4">Contact</span>
                            </a> -->
                        </li>
                    </ul>
                </div>
                <div class="pos-absolute pos-bottom">
                    <ul class="social-list">
                        <li>
                            <a href="#" >
                                <i class="socicon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-vimeo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="type--fine-print">&copy; Copyright 2016 HOST.MX - All Rights Reserved</span>
                </div>
            </div>
        </div>




        <div class="main-container transition--fade">
            <section class="height-100 cover cover-8 pt">
                <div class="col-md-7 col-sm-5">
                    <div class="background-image-holder ">
                        <%=image_tag "hero10.jpg"%>
                        
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 bg--white text-center">
                    <div class="pos-vertical-center ">

                        <p class="lead">
                            Welcome to the HOST.MX 
                            <br /> admin log-in portal
                        </p>
                        <div class="text-left">






<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-with-icon">
                                            <%= f.label :email %>
                                            <i class="icon icon-Male-2"></i>
                                            <%= f.email_field :email, autofocus: true %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-with-icon">
                                            <%= f.label :password %>
                                            <i class="icon icon-Security-Check"></i>
                                            <%= f.password_field :password, autocomplete: "off" %>
                                        </div>
                                    </div>
                                </div>
  <% if devise_mapping.rememberable? -%>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="input-checkbox">
                                            <div class="inner"></div>
                                            <input type="checkbox" />
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
                                        </div>

                                    </div>
                                </div>
  <% end -%>
                                <div class="row">
                                    <div class="col-sm-12">
<%= f.submit "Log in", class:"btn btn--primary" %>
                                        
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <p class="type--fine-print">
<%= render "admins/shared/links" %>
                                    </p>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </section>
            </div>




<!-- <h2>Log in</h2>
 -->

