<!DOCTYPE html>
<html>
<head>
  <title>WeThePeople Commons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>


  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
</head>
<body class="scroll-assist">
  <a id="top"></a>
  <div class="loader"></div>
  <nav class="transition--fade">
      <div class="nav-bar" data-fixed-at="200">
          <div class="nav-module logo-module left">
            <%=link_to root_path  do %>
              <span class="declaration--text">WeThePeople</span><span class="supporting--text supporting--text__nav "> commons</span>
            <% end %>
          </div>
          <div class="nav-module menu-module left">
              <ul class="menu nav--text">
                <li>
                <%=
                   link_to_unless(action_name == "index", "Home", root_path, class: "") do |name|
                     link_to( name, "#about_us", class: "scroll-to")
                   end
                %>
                </li>
                  <li>
                    <%= link_to help_request_path do%>
                      <span>Get Help</span>
                    <% end %>

                  </li>
                  <li>
                      <%=link_to volunteer_path do %> 
                        <span>Volunteer</span>
                      <%end%>
                  </li>
                  <li>
                      <%=link_to showcase_path do %> 
                        <span>Showcase</span>
                      <%end%>
                  </li>
                  <li>
                      <a href="#">
                          The Store
                      </a>
                  </li>
              </ul>
          </div>
          <div class="nav-module right ">
              <a class="btn btn--xs btn--primary mb--1" href="#">
                  <span class="btn__text">
                      Donate
                  </span>
              </a>
          </div>
          <!--end nav module-->
      </div>
      <div class="nav-module right ">
        <a class="btn btn--xs btn--primary mb--1 dbox-donation-button" href="https://donorbox.org/wethepeoplecommons?recurring=true">
          <span class="btn__text">
            Donate
          </span>
        </a>
      </div>
      <!--end nav module-->
    </div>
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
      <i class="icon-Align-Right icon icon--sm"></i>
    </div>
  </nav>
  <div class="main-container transition--fade">
    <%= yield %>
    <footer class="bg--dark footer-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <h4 class="declaration--text mb0">WeThePeople</h4>
            <h5 class="lead supporting--text mt0">
              commons
            </h5>
            <ul class="footer__navigation">
              <li>
                <%= link_to_unless(action_name == "index", "About Us", root_path, class: "capitalize") do |name|
                  link_to( name, "#about_us", class: "scroll-to capitalize")
                end %>
              </li>
              <li>
                <%= link_to creations_path do%>
                <span>Our Creations</span>
                <% end %>

              </li>
              <li>
                <%=link_to petitions_path do %>
                  <span>The Petition</span>
                <%end%>
              </li>
              <li>
                <a href="#">
                  <span>The Store</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-8">
            <h6>Founding Fathers</h6>
            <p>
              "In a time of domestic crisis, men &amp women of goodwill and generosity should be able to unite regardless of party or politics."
            </p>
            <p>
              -John F. Kennedy
            </p>
            <p>
              "Either write something worth reading or do something worth writing. "
            </p>
            <p>
              -Benjamin Franklin
            </p>
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-12">
            <h6>Keep Me Informed</h6>
            <p>
              Stay in the know<!--  <span>WeThePeople</span> -->
            </p>
            <form class="form--merge form--no-labels" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
              <p>
                <label for="fieldEmail">your@email.com</label>
                <br />
                <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
              </p>
              <p>
                <button type="submit">Submit</button>
              </p>
            </form>
            <h6>Connect with Us</h6>
            <ul class="social-list">
              <li>
                <a href="#">
                  <i class="socicon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="socicon-medium"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="socicon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="socicon-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
      <div class="footer__lower">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center-xs">
              <span class="type--fine-print">&copy; Copyright
                <span class="update-year">2017</span></span>
              </div>
              <div class="col-sm-6 text-right text-center-xs">
                <a href="#top" class="inner-link top-link">
                  <i class="interface-up-open-big"></i>
                </a>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </footer>
    </div>

  <%= yield :javascript %>

  </body>
</html>

